<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>User</title>
</head>
<body>
<table>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Age</th>
        <th>E-mail</th>
    </tr>
    <td><p th:text="${user.getId()}">VALUE</p></td>
    <td><p th:text="${user.getName()}">VALUE</p></td>
    <td><p th:text="${user.getAge()}">VALUE</p></td>
    <td><p th:text="${user.getEmail()}">VALUE</p></td>
</table>
</body>
</html>